<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title> Twitterネガポジ分析|</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--CSS-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">


      <!--JS-->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script></head>


</head>
<body>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />

<div class="container">
   <nav class="navbar fixed-top navbar-expand-md custom-navbar navbar-dark">
      <div class="navbar-brand nav-link" ><b>Twitter・ネガポジ分析</b></div>
   
             <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                 <span class="navbar-toggler-icon"></span>
             </button>
   </nav>
</br></br></br></br>

<header id="page-top">
      <div class="row">
            <div class="col-lg-12 text-center my-2">
          {% if(hashtag_error_message) %}
          </br>
            </br>
              </br>
                  </br>
          <center><h5>{{hashtag_error_message}}</h5></center>
          {% else %}
          
              <br/><h5>あなたのTwitterのポジティブ度を分析します。</br>
            ※鍵垢は未対応</br></h5>
          {% endif %}
            </br>
            <div class="score">
                 <h5>分析結果：{{score}}</h5>
             </div>
            </div>
      </div>
    </div>
</div>

</body>
</html>